<%- include('./../layouts/header.ejs', {title:'Editar usuario'}) -%>

    <main role="main">

      <section class="jumbotron">
        <div class="container">
          <form class="row g-3 needs-validation" method="POST" action="/api/store" novalidate>
            <div class="col-md-12 py-4">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" name="nombre" id="nombre" value="<%= elemento.nombre %>" required>
             
                  
               <input type="hidden" name="id" id="id" value="<%= elemento.id %>"> 
               
               
           
               <label for="apellido" class="form-label">Apellido</label>
               <input type="text" class="form-control" name="apellido" id="apellido" value="<%= elemento.apellido %>" required>
           
             
         
               <label for="password" class="form-label">Contraseña</label>
               <input type="text" class="form-control" name="password" id= "password" value="<%= elemento.password%>" required>
       
             
        
               <label for="email" class="form-label">email</label>
               <input type="text" class="form-control" name="email" id="email" value="<%= elemento.email %>" required>
            
           
             
               <label for="telefono" class="form-label">telefono</label>
               <input type="text" class="form-control" name="telefono" id="telefono" value="<%= elemento.telefono %>" required>
           

          
               

            <div class="col-12">
              <div class="row justify-content-between">
                <a href="javascript:history.back()" class="btn btn-secondary" name="boton" id="botonn">Atras</a>
                <button class="btn btn-primary" type="submit" id="boton">Enviar</button>

                
              </div>
            </div>
          </form>
        </div>
      </section>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
      const $boton = document.getElementById('boton');

      boton.addEventListener('click', async (e) => {
        e.preventDefault();

        let id = document.getElementById('id').value;
        let nombre = document.getElementById('nombre').value;
        let apellido = document.getElementById('apellido').value;
        let password = document.getElementById('password').value;
        let email = document.getElementById('email').value;
        let telefono = document.getElementById('telefono').value
       

        const data = await update(id,nombre,apellido,password,email,telefono);
        console.log(data);
        if (data.status == 201) {
          alert(nombre + ' modificado correctamente')
          window.location.href = '/';
        } else {
          alert(data.error[0].msg)
        }
      })

      const update = async (id,nombre,apellido,password,email,telefono) => {
        try {
          const request = await fetch('http://localhost:3000/'+id,{
            method:"PATCH",
            body: JSON.stringify({
              
              nombre,
              apellido,
              password,
              email,
              telefono
            }),
            headers : {
              "Content-Type": "application/json",
            }
          })
          const datos = await request.json()
          return datos;
        } catch (error) {
          return error;
        }
      }
    </script>
<%- include('./../layouts/footer.ejs') -%>
